@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Space Grotesk", "Poppins", sans-serif;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #29fdf3;

    --transition-duration-slow: 300ms;
	--transition-property-common: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;

}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
	transition: all .50s ease;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header.sticky {
	background: var(--bg-color);
	border-bottom: 1px solid #ffffff1a;
	padding: 12px 15%;
}

/*logotipo */

.logo{
	display: flex;
	align-items: center;
    color: var(--text-color);
}

.logo:hover strong {
	color: var(--text-color);
}

.logo span {
	font-size: 2.85rem;
	font-weight: 600;
	transition-duration: var(--transition-duration-slow);
    transition-property: var(--transition-property-common);
	display: flex;
}

.logo strong, .logo:hover {
    color: var(--main-color);
}

.logo span:after {
    	content: "}";
    	margin-left: 10px;
}

.logo span:before {
    	content: "{";
    	margin-right: 10px;
}

.logo span:after, .logo span:before {
    color: var(--text-color);
    transition-duration: var(--transition-duration-slow);
    transition-property: var(--transition-property-common);
}

.logo:hover span:before{
	transform: translateX(5px);
}

.logo:hover span:after {
	transform: translateX(-5px);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

/* navbar */

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section {
    /* min-width: 100vh; */
    padding: 10rem 12% 10rem;
    color: var(--text-color);
}

/*section home */

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    min-height: 100vh;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

.home-content h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home-content h1 {
    font-size: 6.5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-content > .title-home {
    background-image: linear-gradient(to right, var(--main-color) 0%, #bdfffc 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-img img {
    position: relative;
    top: 3rem;

    max-width: 500px;
    width: 100%;
    height: 100%;

    object-fit: contain;
    border-radius: 15%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

/* btns padrões */

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 1rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

/* efeito maquina escrever (home) */

.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span {
    position: relative;
}

.text-animation span::before{
    content: "Web Developer ";
    color: var(--main-color);
    animation: words 25s infinite;
}

.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.8s steps(1) infinite, typing 25s steps(18) infinite;
}

@keyframes cursor {
    0%, 100% {
        border-left-color: var(--main-color);
    }
    50% {
        border-left-color: transparent;
    }
}

@keyframes words {
    0%,
    20% {
        content: "Frontend Developer";
    }
    21%,
    40% {
        content: "HTML, CSS";
    }
    41%, 
    60% {
        content: "Web Designer";
    }
    61%,
    80% {
        content: "UX/UI";
    }
    81%,
    100% {
        content: "Software Tester";
    }    
}

@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}

/* ícones lateral */

.social-bar {
    position: fixed;
    bottom: 0;
    left: 3rem;
    width: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
    z-index: 100;
}

.social-icon {
    color: white;
    font-size: 2.5rem;
    margin: 1.2rem 0;
    text-decoration: none;
    transition: all .40s ease;	
}

.social-icon:hover {
    transform: scale(1.1) translateX(-5px);
	opacity: 1.6;
    color: var(--main-color);
    
}

.vertical-bar {
    width: 1px;
    height: calc(30vh - 10vh - 20px);
    background-color: white;
}

/* Section about */

.about {
    position: absolute;
    min-height: 100vh; 
    background: var(--second-bg-color); 
}

.title-page-back {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem; 
    color: var(--bg-color); 
    white-space: nowrap; 
    pointer-events: none; 
    text-transform: uppercase;
    letter-spacing: 1rem;
        
}

.title-page {
    position: absolute;
    
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
  
    z-index: 10;
}

.content-about {
    margin: 10rem 0;
    display: flex;
    gap: 2rem;
    width: 100%;
}

.introduction {
    width: 90%;
    font-size: 1.8rem;
    background: #2b292a;
    border-radius: 2rem;
    padding: 4rem;
}

.introduction p {
    margin: 2rem 0;
}

.about-img {
    width: 80%;
}

.about-img img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;

    border-radius: 2rem;
    cursor: pointer;
    transition: 0.4s ease;
    box-shadow: 1rem 1rem 0 .125rem #13d3c9, 1rem 1rem 1rem .45rem #29fdf3;
}

.about-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

.title-feature {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: -moz-fit-content;
    margin-bottom: 2rem;
}

.feature{
    display: block;
    border-radius: 2rem;
    background-color: var(--main-color);
    box-shadow: 0 0 .65rem #13d3c9;
    height: .125rem;
    width: 30%;
    transition: .35s;
}


.title-introduction {
    
}



/* circulo blur ao passar o mouse (fundo) */

.blur-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    pointer-events: none;
    z-index: 0;
    transition: transform 0.1s ease-out;
}



/* Media querys (responsividade dos site) */

@media(max-width: 1025px){
    html{
        font-size: 55%;
    }
    
    
}


@media only screen and (max-width: 920px){
    #menu-icon{
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }

    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: wheat;
    }
    .home {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p {
        max-width: 600px;
        margin: 0 auto;
    }
    .title-page-back, .about-img  {
        display: none;
    }
    .introduction {
        width: 100%;
    }

}

@media only screen and (max-width: 480px) {
    .social-bar {
        display: none;
    }
    .title-page {
        font-size: 2rem;
    }
}

